.offcanvas{
  background-color: #191919;
}
.offcanvas-title{
  font-family: 'Steinbeck';
  font-size: 30px;
  color: #c9ac8c;
}
.save-img{
  object-fit: cover;
  border-radius: 10px;
}

.save-title{
  font-family: 'Rotterburg Stylish FREE';
  font-size: 20px;
  color: #c9ac8c;
}

.save-price{
  color: rgba(255, 255, 255, 0.6);
}

.close-button{
  background-color: #fff;
}
