.category{
  padding-bottom: 50px;
}
.category__info{
  text-align: center;
}
.category__title{
  color: #c9ac8c;
  
}
.category__filter__list{
  margin-bottom: 50px;
}
.category__data__list{
  gap: 40px;
}