.header{
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #191919;
  transition: all 0.5s ease;
}

.header__avatar{
  border-radius: 50%;
}

.header__nav__wrapper{
  margin-right: 130px;
}

.bx-chevron-down{
  font-size: 25px;
  color: rgba(255, 255, 255, 0.501);
}

.color-change{
  background-color: rgb(0, 0, 0);
}

.header__modal__wrap{
  position: relative;
}

.header__modal{
  width: 130px;
  height: 160px;
  background-color: #fff;
  position: absolute;
  left: -40px;
  border-radius: 10px;
  z-index: 111;
}

.header__modal__list{
  font-family: sans-serif;
}

.header__modal{
  transition: all 0.3s ease;
}

.header__user__icon{
  font-size: 20px;
  color: #8a6b49;
}

.header__modal__item{
  transition: all 0.3s ease;
}
.header__modal__item:hover{
  background-color: rgba(204, 204, 204, 0.389);
  border-radius: 5px;
}
.header__modal__link{
  color: #000;
  padding: 8px;
}