@import './assets/sass/_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Rotterburg Stylish FREE';
  src: url('./assets/fonts/RotterburgStylishFREE-Regular.woff2') format('woff2'),
      url('./assets/fonts/RotterburgStylishFREE-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('./assets/fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
      url('./assets/fonts/HelveticaNeueCyr-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('./assets/fonts/SteinbeckFC-Reg.woff2') format('woff2'),
      url('./assets/fonts/SteinbeckFC-Reg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('./assets/fonts/SteinbeckFC-GrasObl.woff2') format('woff2'),
      url('./assets/fonts/SteinbeckFC-GrasObl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('./assets/fonts/SteinbeckFC-Gras.woff2') format('woff2'),
      url('./assets/fonts/SteinbeckFC-Gras.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  background-color: $primary-color;
  font-family: 'Rotterburg Stylish FREE';
  padding-top: 85px;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

button{
  border: none;
  background-color: transparent;
}

.container{
  width: 1500px;
}