.nav__item:not(:last-child){
  margin-right: 43px;

  &:first-child::before{
    content: "";
    width: 100%;
    height: 1.5px ;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    bottom: -30px;
  }
}
.nav__item{
  position: relative;
}
.nav__link{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  &:hover{
    color: #fff;
  }
}
.nav__item:hover::before{
  content: "";
  width: 100%;
  height: 1.5px ;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  bottom: -30px;
}

